@import "tailwindcss";

@font-face {
    font-family: inter300;
    src: url(/fonts/Inter300/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: inter500;
    src: url(/fonts/Inter500/Inter-VariableFont_opsz\,wght.ttf);
}
